body{
  background-image: url(https://cdn5.f-cdn.com/contestentries/190907/65270/5521413f78d82_thumb900.jpg);
  background-repeat: repeat;
  background-position: center;
}

video{
  width: 100%;
  max-width: 500px;
}

img{
  width: 100%;
  max-width: 500px;
}

.con{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.row{
  font-size: 1.2em;
  padding: 0px 20px 20px 20px;
}

.col{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #CCC;
  background-color: rgba(255,255,255,0.85);
  padding: 15px;
}

.bold{
  font-weight: bold;
}

.it{
  font-style: italic;
}

.blink_red{
  animation: a_blink_red 0.5s infinite;
  color: red;
}
@keyframes a_blink_red {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.rainbow {
  background-image: -webkit-gradient( linear, right top, left top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, right top, left top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  border: 2px dotted white;
  -webkit-background-clip: text;
  background-clip: text;
}