body{
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

video{
  width: 100%;
  max-width: 400px;
}

img{
  width: 100%;
  max-width: 400px;
}

.mod{
  display: none;
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0,0.5);
  transition: 0.3s;
  vertical-align: middle;
}

.mod-con{
  /*position: relative;
  margin: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.mod-con img{
  position: static;
  transition: 0.3s;
}

/*.mod-con .mii{
  transition: 0.3s;
}*/

.mod-con .mim{
  display: block;
  margin: auto;
  overflow: hidden;
  width: auto;
  height: auto;
  /*width: 100%;
  height: 100%;*/
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  padding-bottom: 10px;
  transform: scale(1.0);
  transition: 0.3s;
}

.mod-d{
  height: max-content;
}

.mod-cap{
  display: block;
  position: relative;
  text-decoration: underline;
  text-align: center;
  padding-top: 0px;
  color: #DDD;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  top: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s;
}

.mod-cap:hover{
  color: #999;
}

.mod-cap:hover .ttip {
  visibility: visible;
  opacity: 1;
}

.mod-x{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  z-index: 9;
  transition: 0.3s;
}

.mod-x:hover,
.mod-x:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.con{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.row{
  font-size: 1.2em;
  padding: 0px 20px 20px 20px;
  word-break: break-all;
}

.col{
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  background-color: rgba(255,255,255,0.85);
  padding: 15px;
  color: #555;
  word-break: break-word;
}

.uimg {
  float: left;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-position: center;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  background-image: url(https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png);
}

.avl{
  height: 50px;
}

.zimg {
  cursor: pointer;
}

.uname {
  font-size: 0.8em;
  color: #909090;
}

.bold{
  font-weight: bold;
}

.it{
  font-style: italic;
}

.udl{
  text-decoration: underline;
}

.stk{
  text-decoration: line-through;
}

.blink_red{
  animation: a_blink_red 0.5s infinite;
  color: red;
}
@keyframes a_blink_red {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.rainbow {
  background-image: -webkit-gradient( linear, right top, left top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, right top, left top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  /*border: 2px dotted white;*/
  -webkit-background-clip: text;
  background-clip: text;
}

.hyl {
  position: relative;
  text-decoration: underline;
  color: #00F;
  cursor: pointer;
}

.hyl:hover {
  color: #0AF;
}

.ttip {
  visibility: hidden;
  font-size: 0.7em;
  width: 125px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ttip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hyl:hover .ttip {
  visibility: visible;
  opacity: 1;
}